*{
box-sizing: border-box;
padding: 0;
margin: 0;

*transition:all 0.5s;
}

html{
  scroll-behavior: auto;
  background-image: url(fondo1.png);
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
::placeholder{
  color: lime;
}
h1{

color: white;
max-width: 100%;
height: 50px;
padding: 4px;
font-size: 40px;
    
}

.containerprincipal{
  background: rgb(109, 8, 8);
  display: flex;
  justify-content: space-between;
  padding: 4px;
}
.principal {
  background: black;
  width: 100%;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 2;
}
.listaprincipal{
  display: inline;
  font-size: 15px;
  margin: 10px;
  padding: 20px;
  left: 100px;
  position: relative;
  
}


figcaption{


z-index: 19; 
animation-duration: 6s;
animation-name: logo;
animation-iteration-count: 1;
animation-timing-function: linear;
}
 @keyframes logo{
  from{
    opacity: 0;
 left: 1000px;
  }to{
    opacity: 1;
    transform: rotateY(60deg);
    
}
 }
 .escripcionmaquina{
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
  top: 340px;
  position: absolute;
  color: rgb(209, 209, 223);
  animation-name: parafo;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;

}
@keyframes parafo{
  20%{color: rgb(230, 238, 230) ;box-shadow: 0px 1px 60px green;border: 4px solid rgb(203, 198, 198); }
  40%{color:  rgb(9, 247, 17);box-shadow: 0px 1px 60px rgb(100, 225, 4); }
  60%{color:  rgb(10, 240, 152);box-shadow: 0px 1px 60px rgb(16, 238, 5);}
  80%{color:  rgb(178, 239, 7);box-shadow: 0px 1px 60px rgb(46, 237, 8);border: 2px solid rgb(54, 59, 122);}
}
.ocultatexto{
text-align: center;
  animation-name: boton;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

@keyframes boton{
  from{
      opacity: 0.1;
      
      color: blue;
  }to{
      opacity: 1.7;
      color: green;
      
  }
}
 figcaption{

  width: 400px;
  height: 400px;
top: 60px;
left: 50px;
  position: absolute;
  z-index: 19; 
  color: rgb(181, 245, 4);
  font-size: 20px;
}
 aside{
 position: absolute;
 right: 0;
 top: 110px;
 background: black;
 color: white;
 width: 220px;
 height: 650px;
}
 aside img{
  max-width: 140px;
  margin: 40px;
  border-radius:80px ;
  -webkit-border-radius:80px ;
  -moz-border-radius:80px ;
  -ms-border-radius:80px ;
  -o-border-radius:80px ;
  object-fit: cover;
  
} 
aside{
  animation-name: imagen;
  animation-duration: 10s;
  animation-iteration-count: 1;
}
@keyframes imagen{
  from{

opacity: .1;
  }to{
    
    opacity: 7;

  }
}

.referenciaperso {
  margin: 20px  ;
  text-align: justify;
  
} 
.nom{
color: rgb(241, 241, 16);
margin: 10px  ;
text-align: center;
}
.refer{
  margin: 10px;
}

.navegador{
padding: 20px;
margin: 50px;
  position: absolute;
  right: 8px;
  top: 10px;
 width:400px;
 height: 515px;

 animation-duration: 5s;
 animation-name: menu;
 animation-iteration-count: infinite;

}
@keyframes menu{
20%{box-shadow: 0px 1px 60px green;border: 4px solid rgb(245, 8, 8);}
40%{box-shadow: 0px 1px 60px rgb(0, 0, 0);border: 2px solid rgb(54, 59, 122);}
60%{box-shadow: 0px 1px 60px rgb(235, 10, 167);}
80%{box-shadow: 0px 1px 60px rgb(21, 216, 241);border: 6px solid rgb(224, 228, 224);}
}
 .lista1,.lista2,.lista3,.lista4,.lista5,.lista6,.lista7{
  width: 500px;
  padding: 15px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background: rgb(87, 6, 6);
 
}


li{
  text-align: center;
  font-size: 20px;
  color: rgb(250, 226, 7);
  list-style: none;
  max-width: 100%;

}

a{
  text-decoration: none;
  
}
 a:hover{
  border-top: lime;
}


.menu{
  left: 30px;
  bottom: 30px;
  position: relative;
  color: rgb(250, 226, 7);
  background: transparent;
  border: none;
  z-index: 2;
}

#dlg{

  left: 600px;
  top: 170px;
  width: 500px;
  height: 600px;
  background: transparent;
  position: relative;
}
.cerrar{
  width: 20px;
  height: 20px;
  animation-duration: 5s;
animation-name: cerrar;
animation-iteration-count: infinite;
background: transparent;
}
@keyframes cerrar{
20%{box-shadow: 0px 1px 60px green;border: 4px solid rgb(245, 8, 8);}
40%{box-shadow: 0px 1px 60px rgb(0, 0, 0);border: 2px solid rgb(54, 59, 122);}
60%{box-shadow: 0px 1px 60px rgb(235, 10, 167);}
80%{box-shadow: 0px 1px 60px rgb(21, 216, 241);border: 6px solid rgb(224, 228, 224);}
}
.whas{
left: 1100px;
top: 570px;
position: relative;

}


.whas{
  animation-name: ima;
  animation-duration: 300s;
  animation-iteration-count: 1;
}
@keyframes ima{
  from{

opacity: .1;
  }to{
    
    opacity: 10;

  }
}
lord-icon{
 background:  yellow;
}

address{
  color: yellow;
  font-size: 20px;
  margin-top: 600px;
}
address{
  background: black;
  height: 50px;
  display: flex;
  justify-content: left;
  padding: 10px;

}
input{
  border-radius: 8px;
  width: 500px;
  height: 36px;
  float: right;
  cursor: pointer;
  margin: 10px;
  background: rgb(99, 17, 3);
}
input{

  background-image: url("lupa.png");
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: right ;
  z-index: 2;
  color: yellow;
 
}
input:hover{
  border: none;
  border-bottom: 2px solid;
  outline: none;
  color: rgb(16, 240, 53);
}
input::placeholder{
  color: darkturquoise;
  font-size: 20px;
}